html{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 135%;
  font-size: 62.5%;
  color: #403F3E;
  @media all and (max-width: 1100px) {
    font-size: 58%;
  }
}

* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

a{
  text-decoration: none;
  font-weight: 400;
  color: #403F3E;
}
ul, ol{

}
pre{
  white-space: break-spaces;
}
img{
  max-width: 100%;
}
p, pre{
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 141%;
  margin-bottom: 0.9em;
  @media all and (max-width: 1024px) {
    font-size: 16px;
  }
  @media all and (max-width: 768px) {
    font-size: 15px;
  }
  @media all and (max-width: 500px) {
    font-size: 14px;
  }
  @media all and (max-width: 400px) {
    font-size: 12px;
  }
}
h1{
  font-weight: 700;
  font-size: 36px;
  @media all and (max-width: 1200px) {
    font-size: 30px;
  }
  @media all and (max-width: 1024px) {
    font-size: 24px;
  }
  @media all and (max-width: 768px) {
    font-size: 18px;
  }
  @media all and (max-width: 500px) {
    font-size: 14px;
  }
}
ul,ol{
  list-style: none;
  margin: 0;
  li{
    margin-bottom: 0.6em;
    font-weight: 400;
    font-size: 18px;
    line-height: 121%;
    @media all and (max-width: 1024px) {
      font-size: 16px;
    }
    @media all and (max-width: 768px) {
      font-size: 15px;
    }
    @media all and (max-width: 500px) {
      font-size: 14px;
    }
    //@media all and (max-width: 400px) {
    //  font-size: 12px;
    //}
  }
}
strong, b{
  font-weight: 600;
}
em{
  font-style: italic;
}
h2{
  font-weight: 700;
  font-size: 4.2rem;
  @media all and (max-width: 1200px) {
    font-size: 3.4rem;
  }
  @media all and (max-width: 1024px) {
    font-size: 2.6rem;
  }
  @media all and (max-width: 768px) {
    font-size: 2.2rem;
  }
  @media all and (max-width: 500px) {
    font-size: 1.6rem;
  }
}
h3{
  font-weight: 700;
  font-size: 3.6rem;
  @media all and (max-width: 1200px) {
    font-size: 2.8rem;
  }
  @media all and (max-width: 1024px) {
    font-size: 2.2rem;
  }
  @media all and (max-width: 768px) {
    font-size: 1.6rem;
  }
  @media all and (max-width: 500px) {
    font-size: 1.4rem;
  }
}
h4{
  font-weight: 700;
  font-size: 3rem;
  @media all and (max-width: 1200px) {
    font-size: 2.4rem;
  }
  @media all and (max-width: 1024px) {
    font-size: 1.8rem;
  }
  @media all and (max-width: 768px) {
    font-size: 1.2rem;
  }
  @media all and (max-width: 500px) {
    font-size: 1.0rem;
  }
}
h5{
  font-weight: 700;
  font-size: 24px;
}
h6{
  font-weight: 700;
  font-size: 18px;
}
a.button{
  background-color: #112A3D;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: color .3s;
  padding: 14px 30px;
  &:hover{
    background-color: #4BC3E8;
  }
}
.woocommerce table.shop_attributes th{
  width: 20%;
}
.woocommerce-message, .woocommerce-info{
  border-top-color: #B87D3B;
  &:before{
    color: #B87D3B;
  }
  a{
    color: #B87D3B;
  }
}
@mixin customtable{
  table{
    border: none;
    thead{
      background-color: #F5F5F5;
    }
    th{
      font-weight: 500;
      font-size: 14px;
      line-height: 122%;
    }
    td{
      font-weight: 400;
    }
    th, td{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 155%;
      color: #000000;
      padding: 10px;
      text-align: left;
      p{
        padding-left: 20px!important;
      }
      @media all and (max-width: 830px) {
        font-size: 14px;
      }
      @media all and (max-width: 600px) {
        font-size: 12px;
        padding: 8px;
      }
      @media all and (max-width: 400px) {
        font-size: 10px;
        padding: 8px;
      }
      &.actions{
        text-align: left;
        .button{
          padding: 14px 30px;
        }
      }
    }
    tr{
      td, th{
        padding: 10px;
      }
    }
  }
}
.woocommerce {
  @include customtable;
}
.woocommerce table.shop_table{
  border: none;
}


*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}
.not-event{
  & > a{
    pointer-events: none;
    font-weight: bolder!important;
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  border: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #112A3D;
}
.quantity__row{
  display: flex;
  justify-content: flex-start;
  position: relative;
  strong{
    position: absolute;
    display: flex;
    height: 100%;
    align-items: center ;
    left: 0;
    top: 0;
  }
  .quantity{
    display: flex;
    border: 1px solid #B0B0B0;
    .quantity-arrow-plus, .quantity-arrow-minus{
      display: flex;
      width: 30px;
      height: 50px;
      font-weight: 300;
      justify-content: center;
      align-items: center;
      background-color: white;
      font-size: 24px;
      color: #808384;
    }
    span{
      margin-left: 36px;
      display: flex;
      align-items: center;
      color: #A9C0D0;
    }
  }
}
.quantity-block {
  margin: auto;
  font-size: 20px;
}
.quantity-arrow-minus,
.quantity-arrow-plus {
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
}
.quantity-num {
  outline: none;
}

.section-title{
  margin: 0 0 17px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 122%;
  text-transform: unset;
  text-align: center;
  color: #403F3E;
  padding-top: 80px;

  @media all and (max-width: 1024px) {
    font-size: 3.2rem;
    padding-top: 60px;
  }
  @media all and (max-width: 768px) {
    font-size: 2.8rem;
    padding-top: 40px;
  }
  @media all and (max-width: 500px) {
    font-size: 2.4rem;
    padding: 30px 20px 0 20px;
    text-align: left;
  }
}

.block-container{
  max-width: 1360px;
  margin: auto;
  padding: 0 100px;
  overflow: hidden;
  @media all and (max-width: 1420px) {
    padding: 0 50px;
  }
  @media all and (max-width: 768px) {
    padding: 0 20px;
  }
}
#page-menu, #category-menu{
  > li{
    margin-bottom: 0;
  }
  a{
    color: white;
    font-weight: 500;
    line-height: 122%;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    transition: 0.2s;
    &:hover{
      border-bottom: 1px solid white;
    }
  }
}
.brown-button, .woocommerce ul.products li.product .button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woof_reset_button_2, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  background-color: #B87D3B;
  padding: 6px 18px;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.4rem!important;
  font-family: 'Montserrat', sans-serif;
  line-height: 122%;
  color: #FFFFFF;
  transition: 0.2s;
  cursor: pointer;
  border: none;
  text-transform: none;
  @media all and (max-width: 440px) {
    padding: 10px;
    width: 100%;
    justify-content: center;
  }
  &:hover{
    background-color: #684620;
    color: white;
  }
}
.woocommerce div.product form.cart .button, .woocommerce div.product form.cart .reset_variations, .single_add_to_wishlist, .delete_item, .custom-checkout-button, #custom_shop_table td.product-add-to-cart a{
  background-color: #B87D3B;
  padding: 12px 18px;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.4rem!important;
  font-family: 'Montserrat', sans-serif;
  line-height: 122%;
  color: #FFFFFF;
  transition: 0.2s;
  cursor: pointer;
  border: none;
  margin-right: 20px;
  span{
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
  }
  &:hover{
    background-color: #684620;
    color: white;
  }
}
.yith-wcwl-add-button{
  .separator{
    display: none;
  }
  .view-wishlist{
    display: none;
  }
}
.woocommerce-wishlist{
  #yith-wcwl-form{
    .wishlist_table{
      li{
        @media all and (max-width: 768px) {
          border: 1px solid #F5F5F5;
          position: relative;
          .item-details-table, .additional-info{
            .label{
              font-size: 18px;
              line-height: 120%;
            }
            .value{
              font-size: 18px;
              line-height: 120%;
            }
          }
          .product-remove{
            position: absolute;
            right: 0;
            top: 0;
            svg{
              width: 32px;
              height: 32px;
            }
          }
        }
        @media all and (max-width: 500px) {
          .item-details-table, .additional-info{
            .label{
              font-size: 14px;
              vertical-align: middle;
            }
            .value{
              font-size: 14px;
              vertical-align: middle;
            }
          }
        }
      }
    }
    .item-wrapper{
      @media all and (max-width: 768px) {
        .product-name{
          h3{
            font-size: 24px;
            line-height: 120%;
          }
        }
        .item-details-table, .additional-info{
          .label{
            font-size: 18px;
            line-height: 120%;
          }
          .value{
            font-size: 18px;
            line-height: 120%;
          }
        }
      }
      @media all and (max-width: 500px) {
        .product-name{
          h3{
            font-size: 16px;
            line-height: 120%;
          }
        }
        .item-details-table, .additional-info{
          .label{
            font-size: 14px;
            line-height: 120%;
            vertical-align: middle;
          }
          .value{
            font-size: 14px;
            line-height: 120%;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
.strong-view{
  .strong-content{
    .wpmtst-testimonial{
      margin-bottom: 40px!important;
      border: none!important;
      &:nth-child(even){
        .wpmtst-testimonial-content{
          flex-direction: row-reverse;
          .wpmtst-testimonial__wrapper {
            &:before {
              right: -30px;
              left: auto!important;
              top: 40px;
              border-top: 30px solid #F2F2F2;
              border-right: 30px solid transparent;
              border-left: none!important;
            }
          }
        }
      }
      .wpmtst-testimonial-inner{
        border: none!important;
        padding: 0;
        .wpmtst-testimonial-content{
          display: flex;
          justify-content: space-between;
          @media all and (max-width: 600px) {
            flex-direction: column;
          }
          .wpmtst-testimonial-image{
            width: 90px;
            height: 90px;
            border-radius: 50%;
            overflow: hidden;
            margin: 0;
            @media all and (max-width: 600px) {
              margin-bottom: 20px;
              margin-right: auto;
              margin-left: auto;
            }
            img{
              object-fit: cover;
              width: 100%;
              height: 100%;
              padding: 0;
            }
          }
          .wpmtst-testimonial__wrapper{
            width: calc(100% - 131px);
            background-color: #F2F2F2;
            border-radius: 8px;
            padding: 20px 60px 33px 60px;
            position: relative;
            @media all and (max-width: 600px) {
              width: 100%;
            }
            @media all and (max-width: 500px) {
              padding: 20px;
            }
            &:before{
              content: "";
              display: block;
              position: absolute;
              left: -30px;
              top: 40px;
              width: 0;
              height: 0;
              border-top: 30px solid #F2F2F2;
              border-left: 30px solid transparent;
              @media all and (max-width: 600px) {
                display: none;
              }
            }
            p{
              font-size: 1.2rem;
              line-height: 155%;
              font-weight: 400;
              color: #403F3E;
            }
            .testimonial-field{
              font-weight: 600;
              font-size: 1.4rem;
              line-height: 140%;
              color: #403F3E;
              margin-bottom: 7px;
              text-align: left;
              &.testimonial-name{
                text-align: left;
                font-size: 1.8rem;
                line-height: 140%;
                color: #403F3E;
                font-weight: 700;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}