@import "normalize";
@import "vars";
@import "fresco";
@import "swiper-bundle";
@import "default";
@import "woo";

.sb-main{
  display: block!important;
}
#shop-title{
  margin-bottom: auto;
}
main{
  margin-bottom: 40px;
}
.header{
  .to-wishlist{
    z-index: 2;
    @media all and (max-width: 938px) {
      display: none;
    }
    a{
      margin: 0 21px;
      display: flex;
      align-items: center;
      color: white;
      position: relative;
      padding-bottom: 4px;
      .yith-wcwl-items-count{
        position: absolute;
        top: -2px;
        right: -5px;
        min-width: 18px;
        height: 13px;
        background-color: #fff;
        border-radius: 18px;
        font-size: 9px;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
      }
      svg{
        margin-right: 5px;
        height: 20px;
        width: auto;
      }
    }
  }
  &__woo {
    position: relative;
    cursor: pointer;

    .fix_cart_btn {
      display: flex;
      align-items: center;

      .basket-btn__label {
        position: relative;
        display: block;
        margin: 0 17px 0 0;
        @media all and (max-width: 500px) {
          margin-right: 0;
        }

        svg {
          width: 24px;
          height: auto;
        }
      }

      .fix_cart_total {
        margin-right: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 122%;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        @media all and (max-width: 500px) {
          display: none;
        }
      }

      .fix_cart_count {
        position: absolute;
        top: -2px;
        right: -5px;
        min-width: 18px;
        height: 13px;
        background-color: #FFFFFF;
        border-radius: 18px;
        font-size: 9px;
        color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
      }
    }
  }
  &__undermenu{
    background-color: #000000;
    .block-container{
      #top-menu{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .menu-item{
          margin-bottom: 0;
          padding: 5px 0;
          margin-left: 20px;
          a{
            font-size: 1.2rem;
            color: white;
          }
        }
      }
    }
  }
  &__first{
    background-color: #262625;
    padding: 14px 0;
    .block-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__contacts{
    a{
      color: white;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 122%;
      transition: 0.2s;
      margin: 0 20px;
      display: inline-flex;
      align-items: center;
      svg{
        path{
          transition: 0.2s;
        }
        margin-right: 10px;
      }
      &:hover{
        text-decoration: underline;
        svg{
          path{
            fill: white;
          }
        }
      }
    }
  }
  &__second{
    background-color: #403F3E;
    .page-menu-item{

    }
    .block-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .page-menu-item{
        margin-right: 40px;
        flex: 1;
      }
    }
    #page-menu{
      display: flex;
      justify-content: space-between;
      padding: 15px 0;
      a{
        font-size: 1.6rem;
      }
    }
  }
  &__hird{
    background-color: #828282;
    #category-menu{
      display: flex;
      justify-content: space-between;
      padding: 6px 0;
      a{
        font-size: 1.4rem;
      }
    }
  }
}
.main-slider{
  position: relative;
  &__navigate{
    top: calc(50% - 20px);
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10;
    .block-container{
      display: flex;
      justify-content: space-between;
    }
  }
  &__swicher{
    cursor: pointer;
    svg{
      path{
        transition: 0.2s;
      }
    }
    &:hover{
      svg{
        path{
          fill-opacity: 1;
        }
      }
    }
  }
  &__item{
    position: relative;
    height: 560px;
    picture{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__content{
    position: relative;
    z-index: 2;
    height: 100%;
    .block-container{
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
    }
  }
  &__title{
    p{
      font-size: 5.2rem;
      line-height: 140%;
      text-align: center;
      text-transform: uppercase;
      color: #E5E5E5;
      font-weight: 700;
      margin-bottom: 0;
    }
    font-size: 5.2rem;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #E5E5E5;
    font-weight: 700;
  }
  &__desc{
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 122%;
    color: #FFFFFF;
    p{
      font-weight: 300;
      font-size: 1.8rem;
      line-height: 122%;
      color: #FFFFFF;
    }
  }
  &__devider{
    margin: 30px 0 40px 0;
    width: 290px;
    background-color: #B87D3B;
    height: 4px;
    display: block;
  }
}
.main-category{
  padding: 80px 0;
  background-color: #F2F2F2;
  > .block-container{
    position: relative;
  }
  &__container{
    margin: 0 50px;
    width: calc(100% - 100px);
  }
  &__navigate{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__wrapper{
    z-index: 10;
  }
  &__item{
    overflow: hidden;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: 0.2s;
    }
    &:hover{
      .main-category__lnk{
        padding: 20px 24px;
        height: auto;
        max-height: none;
      }
      img{
        //transform: scale(1.1);
      }
    }
  }
  &__bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
  }
  &__title{
    background: rgba(64, 63, 62, 0.4);
    backdrop-filter: blur(20px);
    padding: 20px 24px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 122%;
    color: #B2916B;
  }
  &__lnk{
    background: #B87D3B;
    padding: 0 24px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 122%;
    color: #FFFFFF;
    display: block;
    width: 100%;
    transition: 0.2s;
    height: 0;
    overflow: hidden;
    max-height: 0;
    &:hover{
      background-color: #FFFFFF;
      color: #B87D3B;
      svg{
        margin-left: 10px;
        path{
          fill: #B87D3B;
        }
      }
    }
    svg{
      margin-left: 10px;
      path{
        transition: 0.2s;
      }
    }
  }
}
.technology{
  padding-bottom: 80px;
  &__title{
    margin-bottom: 10px;
  }
  &__subtitle{
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 140%;
    text-align: center;
    color: #403F3E;
    margin-bottom: 0;
  }
  &__container{
    margin-top: 84px;
    display: flex;
    justify-content: space-between;
  }
  &__text{
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
  }
  &__img{
    width: calc(50% - 20px);
    overflow: hidden;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__lnk{
    margin-top: auto;
    align-self: flex-end;
  }
}

.main-products{
  background-color: #F2F2F2;
  position: relative;
  padding-bottom: 80px;
  .section-title{
    margin-bottom: 60px;
  }
  &__decor{
    position: absolute;
    top: calc(50% - 180px);
    left: 0;
    &:first-child{
      top: 32px;
      right: 0;
      left: auto;
    }
    &:last-child{
      bottom: 80px;
      top: auto;
      right: 0;
      left: auto;
    }
  }
}
#custom-products{
  display: flex;
  justify-content: flex-start;
  margin-right: -40px;
  position: relative;
  z-index: 3;
  flex-wrap: wrap;
  .onsale{
    display: none;
  }
  .custom-product{
    border: 1px solid #B2916B;
    background-color: white;
    width: calc(25% - 40px);
    margin-right: 40px;
    margin-bottom: 40px;
  }
  h2{
    padding-top: 14px;
    border-top: 1px solid #B2916B;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 140%;
    text-align: center;
    color: #403F3E;
    padding-bottom: 14px;
  }
  .price{
    text-align: center;
    margin-bottom: 11px;
    bdi{
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 120%;
      text-align: center;
      color: #403F3E;
    }
    ins{
      text-decoration: none;
    }
  }
  .button{
    width: calc(100% - 50px);
    margin-left: 25px;
    margin-bottom: 14px;
    font-size: 2rem;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    padding: 9px;
    margin-top: 0;
  }
}
.reviewes{
  padding-bottom: 80px;
}
.news{
  background-color: #F2F2F2;
  padding-bottom: 80px;
  position: relative;
  &__left{
    position: absolute;
    left: 0;
    top: 0;
  }
  &__right{
    position: absolute;
    right: 0;
    bottom: 40px;
  }
  &__title{
    margin-bottom: 74px;
  }
  &__content{
    padding: 12px 20px 20px 20px;
    position: relative;
    background-color: #FFFFFF;
    .news__title{
      margin-bottom: 18px;
      font-size: 1.8rem;
      line-height: 140%;
      color: #403F3E;
      font-weight: 700;
    }
  }
  &__desc{
    p{
      font-size: 1.2rem;
      line-height: 155%;
      font-weight: 400;
      color: #403F3E;
    }
    font-size: 1.2rem;
    line-height: 155%;
    font-weight: 400;
    color: #403F3E;
  }
  &__date{
    position: absolute;
    top: 12px;
    right: 0;
    background-color: #B87D3B;
    padding: 5px 11px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 140%;
    color: #FFFFFF;
  }
  &__list{
    display: flex;
    margin-right: -9px;
    display: flex;
    justify-content: space-between;
  }
  &__item{
    width: calc(25% - 9px);
    margin-right: 9px;
    border: 1px solid #B2916B;
    &:hover{
      .news__image{
        img{
          transform: scale(1.2);
        }
      }
    }
  }
  &__image{
    width: 100%;
    height: 280px;
    overflow: hidden;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: 0.2s;
    }
  }
  &__detail{
    display: block;
    text-align: right;
    svg{
      margin-left: 5px;
    }
  }
  &__all{
    margin-top: 60px;
    text-align: center;
  }
}
.consultation{
  padding-bottom: 80px;
  &__subtitle{
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;
    text-align: center;
    color: #403F3E;
  }
  &__content{
    margin-top: 40px;
    .wpcf7-form{
      p{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-right: -20px;
        padding: 0 200px;
        margin-bottom: 0;
      }
      input.wpcf7-submit{
        color: white;
        background-color: #B87D3B;
        border: none;
        transition: 0.2s;
        &:hover{
          background-color: #684620;
        }
      }
    }
    .wpcf7-form-control-wrap{
      position: relative;
      .wpcf7-not-valid-tip{
        position: absolute;
        border: -15px;
        left: 0;
        font-size: 1.2rem;
      }
    }
    .wpcf7-form-control-wrap, .wpcf7-submit{
      width: calc(33.333% - 20px);
      margin-right: 20px;
      input{
        width: 100%;
        border: 1px solid #B2916B;
        padding: 12px 20px;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 140%;
        &::placeholder{
          color: #C4C4C4;
        }
        &{

        }
      }
    }
    .acceptance-326{
      width: 100%;
      .wpcf7-list-item{
        margin-left: 80px;
        margin-right: 80px;
        label{
          input{
            display: none;
            &:checked + .wpcf7-list-item-label .custom-chack{
              &:after{
                content: "";
                position: absolute;
                left: 5px;
                top: 5px;
                width: 12px;
                height: 12px;
                background-color: #b87d3b;
              }
            }
          }
          .wpcf7-list-item-label{
            display: flex;
            align-items: center;
          }
          span.custom-chack{
            position: relative;
            &:before{
              content: "";
              display: block;
              width: 20px;
              height: 20px;
              border: 1px solid #B2916B;
              margin-right: 24px;
              flex-basis: 40px;
            }
          }
          .custom-container{
            display: inline-block;
            font-weight: 500;
            font-size: 1rem;
            line-height: 140%;
            color: #403F3E;
            a{
              color: #B87D3B;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
.map{
  height: 410px;
  position: relative;
  &__container{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: rgba(127, 127, 127, 0.06);
    backdrop-filter: blur(39px);
    z-index: 3;
    padding-left: calc((100vw - 1160px) / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media all and (max-width: 1420px) {
      padding-left: 50px;
    }
    @media all and (max-width: 768px) {
      padding-left: 20px;
    }

  }
  &__map{
    height: 100%;
  }
  &__adress{
    margin-bottom: 26px;
    p{
      margin-bottom: 0;
      font-weight: 500;
      font-size: 2.4rem;
      line-height: 150%;
      color: #1F1F1F;
    }
  }
  &__phones, &__email{
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    svg{
      margin-right: 22px;
    }
    a{
      font-weight: 500;
      font-size: 2.4rem;
      line-height: 150%;
      color: #1F1F1F;
      &:first-child{
        margin-right: 32px;
      }
    }
  }
  &__email{
    margin-bottom: 0;
    a{
      text-decoration: underline;
    }
  }
}
.footer{
  background-color: #262625;
  padding-top: 60px;
  padding-bottom: 80px;
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__logo{
    width: 170px;
    margin-right: 52px;
  }
  &__navigation{
    ul{
      display: flex;
      justify-content: space-between;
      > li{
        margin-right: 40px;
        &:last-child{
          margin-right: 0;
        }
        > a{
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 122%;
          color: #FFFFFF;
          padding-bottom: 10px;
          border-bottom: 2px solid #B87D3B;
        }
      }
    }
  }
  &__get-call{
    margin-left: 40px;
    font-size: 1.6rem;
    line-height: 120%;
  }
}
.wp-block-table{
  overflow: visible!important;
  @include customtable;
}
.swatchinput{
  label.wcva_single_textblock{
    border-radius: 0;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid #B87D3B!important;
    outline: none!important;
    margin-bottom: 10px;
    line-height: 120%;
    &.selectedswatch{
      background-color: #B87D3B!important;
      color: white;
    }
  }
}
.woocommerce, .entry-content{
  font-size: 1.4rem;
  .woocommerce-breadcrumb{
    margin: 20px 0;
  }
  .woocommerce-ordering{
    z-index: 99;
  }
}
.products-filter{
  border: 2px solid #684620;
  padding: 10px 10px;
  margin-bottom: 40px;
  margin-top: 40px;
  .woof_redraw_zone{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .woof_container{
    width: auto;
    margin-right: 20px;
    flex: 1;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .woof_submit_search_form_container{
    margin: 0;
    .woof_reset_search_form{
      margin-left: 20px;
    }
  }
}
.best-product{
  .new-product__title{
    padding-top: 40px;
  }
}
.pay-type{
  &__container{
    display: flex;
    justify-content: center;
  }
  &__item{
    width: calc(33.33333% - 40px);
    margin: 20px;
    text-align: center;
  }
  &__img{
    width: 150px;
    height: auto;
    margin: auto;
    img{
      object-fit: fill;
      width: 100%;
      height: 100%;
    }
  }
  &__desc{
    margin-top: 20px;
  }
}
.reviewe-form{
  max-width: 600px;
  width: 90%;
  margin: 40px auto 0 auto;
  border: 2px solid #B87D3B;
  padding: 30px;
  &__title{
    margin-bottom: 20px;
    font-size: 3rem;
    text-align: center;
  }
  .strong-form-inner{
    padding: 0;
  }
  #wpmtst-form{
    .required-notice{
      font-size: 1.2rem;
    }
    form{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .form-field{
        width: 100%;
        input[type="text"], input[type="email"], textarea, input[type="file"]{
          background-color: #F2F2F2;
          border: 1px solid #B87D3B;
          padding: 15px;
          font-size: 1.4rem;
        }
        &.field-client_name, &.field-_, &.field-email{
          width: calc(33.333% - 10px);
          margin-bottom: 15px;
        }
      }
      #wpmtst_featured_image{
        padding: 0;
        background-color: transparent;
        border: none;
      }
    }
  }
}
.default-page, .archive, .poleznoe, .status-publish, .faq-page, .page-template-about{
  h2,h3,h4,h5,h6{
    margin-bottom: 1em;
  }
  .entry-header{
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    .post-thumbnail{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .entry-title{
      position: relative;
      z-index: 2;
      font-size: 4rem;
      color: white;
    }
  }
}
.woocommerce div.product p.stock{
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 120%;
  color: #403F3E;
}
.custom{
  &__tab-atributes{
    margin-top: 40px;
    margin-bottom: 40px;
    .woocommerce-product-attributes-item__label{
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 141%;
      margin-bottom: .9em;
      color: black;
    }
    .woocommerce-product-attributes-item__value{
      p{
        text-align: right;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 141%;
        margin-bottom: .9em;
        a{
          color: black;
        }
      }
    }
  }
}
.razmery-wrapper{
  a{
    text-decoration: underline;
    color: red;
    margin: 10px 0;
  }
}
.single-product{
  .sku_wrapper{
    display: block;
    margin-top: 40px;
    font-weight: 400;
    font-size: 3rem;
    line-height: 120%;
    color: #b87d3b;
  }
  .price{
    margin-bottom: 0;
    margin-top: 14px;
    font-weight: 400;
    font-size: 3rem;
    line-height: 120%;
    color: #000000!important;
    bdi{
      margin-left: 5px;
      font-weight: 400;
      font-size: 3rem;
      line-height: 120%;
      color: #000000!important;
    }
  }
  .quantity__row{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    .quantity{
      margin-right: 40px;
    }
  }
}
.post-type-archive-product{
  #custom-products{
    margin-right: 0;
  }
}
.poleznoe{
  &__article{

  }
  &__list{
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    display: flex;
    padding: 40px 0;
    border-bottom: 1px solid #B87D3B;
    &:last-child{
      border-bottom: none;
    }
  }
  &__img{
    width: 30%;
    overflow-y: hidden;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__content{
    width: calc(70% - 40px);
    margin-left: 40px;
    padding-bottom: 20px;
  }
  &__title{
    font-size: 1.8rem;
    line-height: 120%;
    font-weight: 700;
    margin: 20px 0;
  }
  &__lnk{
    padding: 14px 30px;
    font-size: 1.4rem;
  }
}
.faq{
  &__content{
    margin-top: 50px;
  }
  h2{
    color: black;
    a{
      color: black;
    }
  }
  &__title{
    margin-bottom: 20px;
  }
  &__item{
    border-radius: 8px;
    margin-bottom: 20px;
    &.active{
      .vert{
        opacity: 0;
      }
    }
    .faq__triger{
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      padding: 10px 20px;
      border: 1px solid #B87D3B;
      align-items: center;
      background-color: rgba(184,125,59,0.1);
      transition: 0.3s;
      &:hover{
        background-color: rgba(184,125,59,0.3);
      }
      .close-item{
        width: 20px;
        height: 20px;
        position: relative;
        .hor{
          height: 2px;
          width: 100%;
          background-color: #B87D3B;
          top: calc(50% - 1px);
          position: absolute;
          left: 0;
          display: block;
        }
        .vert{
          width: 2px;
          height: 100%;
          background-color: #B87D3B;
          top: 0;
          left: calc(50% - 1px);
          position: absolute;
          display: block;
        }
      }
    }
    .faq__answer{
      padding: 20px;
      background-color: #F2F2F2;
    }
  }
}
.video{
  &-navigate{
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 0;
    .prev, .next{
      margin-left: 40px;
      cursor: pointer;
    }
  }
  &-block{
    &__header{
      position: relative;
      h2{
        margin-bottom: 20px;
      }
      p{

      }
    }
    &__container{

    }
    &__wrapper{

    }
    &__item{
      position: relative;
      height: 250px;
      display: flex;
      align-items: flex-end;
    }
    &__img{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    &__content{
      position: relative;
      z-index: 1;
      background: rgba(64,63,62,.4);
      backdrop-filter: blur(20px);
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 122%;
      color: white;
      padding: 10px 20px;
      h2{
        color: white;
        font-weight: 500;
        font-size: 2.2rem;
        line-height: 122%;
        margin-bottom: 10px;
      }
      p{
        color: rgba(255,255,255,0.8);
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 122%;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}
.history-block, .regions-block{
  background-color: #F2F2F2;
  margin-top: 40px;
  padding: 40px;
  h3{
    font-size: 2.6rem;
  }
}
.technology-block{
  margin-top: 40px;
}
.sertificate-block{
  margin-top: 40px;
}
.term-gruzovye-shiny{
  #woof_pa_sezonnost_607fd1897888a_content{
    display: none;
  }

}